

:root {
    --color-red: #FF5154;
    --color-white: #FCFCFF;
    --color-yellow: #FAFF7F;
    --color-pink: #FF88DC;
    --color-blue: #91A6FF;
    --color-grey: #909192;
    --color-orange: #F4AC45;
    --color-purple: #9e71b2;
    --color-black: #333333;
}